<!DOCTYPE html>
<html ng-app="shuffling">

  <head>
    <meta charset="utf-8" />
    <title>Shuffling Pines</title>
    <link rel="stylesheet" href="styles.css" />

    <script src="vendors.js"></script>
    <script src="app.js"></script>
  </head>

  <body>
    <h1>Shuffling Pines</h1>
    <div class="row">
      <div class="col-md-12" ng-controller="TabController as vm">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" ng-class="{ active : vm.tab == 1 }"><a href="#form" aria-controls="form" role="tab" ng-click="vm.tab = 1">Form</a></li>
          <li role="presentation" ng-class="{ active : vm.tab == 2 }"><a href="#guests" aria-controls="guests" role="tab" ng-click="vm.tab = 2">Guests</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Tab pane 1 -->
          <div role="tabpanel" class="tab-pane active" id="form">
            <div ng-show="vm.tab == 1">

              <form class="col-md-6 well">
                <div class="form-group">
                  <label for="guest-name">Guest Name</label>
                  <input type="text" class="form-control" id="guest-name" ng-model="vm.guestName" placeholder="">
                </div>
                <div class="form-group">
                  <label for="transition-date">Transition Date</label>
                  <input type="date" class="form-control" id="transition-date" placeholder="" ng-model="vm.transitionDate">
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="pickup-dropoff" id="pickup" value="pickup" checked ng-model="vm.action">
                    Pick-up
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="pickup-dropoff" id="dropoff" value="dropoff" ng-model="vm.action">
                    Drop-off
                  </label>
                </div>
                <div class="form-group">
                  <label for="location">Location</label>
                  <textarea class="form-control" id="location" ng-model="vm.location"></textarea>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>

              <!-- bound display -->
              <div ng-show="vm.guestName || vm.transitionDate || vm.action || vm.location" class="col-md-6 well">
                <h3>Your Entry</h3>
                <div ng-show="vm.guestName != null" class="form-group">
                  <label>Name: </label>
                  {{ vm.guestName }}
                </div>
                <div ng-show="vm.transitionDate != null"  class="form-group">
                  <label>Transition Date: </label>
                  {{ vm.transitionDate }}
                </div>
                <div ng-show="vm.action != null"  class="form-group">
                  <label>Status: </label>
                  {{ vm.action }}
                </div>
                <div ng-show="vm.location != null"  class="form-group">
                  <label>Location: </label>
                  {{ vm.location }}
                </div>
              </div>

            </div>
          </div>

          <!-- Tab pane 2 -->
          <div role="tabpanel" class="tab-pane" id="guests">
            <ul class="list-unstyled">
              <li>

              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>

  </body>
</html>
