<!DOCTYPE html>
<html ng-app="shuffling">

  <head>
    <meta charset="utf-8" />
    <title>Shuffling Pines</title>
    <link rel="stylesheet" href="styles.css" />

    <script src="vendors.js"></script>
    <script src="app.js"></script>
  </head>

  <body class="container">
    <h1>Shuffling Pines</h1>
    <div class="row">
      <div class="col-md-12" ng-controller="TabController as TabCtrl">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" ng-class="{ active : TabCtrl.tab == 1 }">
            <a href="#form" aria-controls="form" role="tab" ng-click="TabCtrl.tab = 1">Form</a>
          </li>
          <li role="presentation" ng-class="{ active : TabCtrl.tab == 2 }">
            <a href="#guests" aria-controls="guests" role="tab" ng-click="TabCtrl.tab = 2">Guests</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Tab pane 1 -->
          <div role="tabpanel" class="tab-pane" ng-class="{ active : TabCtrl.tab == 1 }" id="form" ng-show="TabCtrl.tab == 1" >
            <div ng-controller="FormController as FormCtrl">

              <form class="col-md-4" ng-submit="FormCtrl.register()">
                <h3>New Applicant</h3>
                <div class="form-group">
                  <label for="guest-name">Guest Name</label>
                  <input type="text" class="form-control" id="guest-name" ng-model="FormCtrl.guestName" placeholder="" required>
                </div>
                <div class="form-group">
                  <label for="transition-date">Transition Date</label>
                  <input type="date" class="form-control" id="transition-date" placeholder="" ng-model="FormCtrl.transitionDate" required>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="pickup-dropoff" id="pickup" value="pickup" checked ng-model="FormCtrl.action">
                    Pick-up
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="pickup-dropoff" id="dropoff" value="dropoff" ng-model="FormCtrl.action">
                    Drop-off
                  </label>
                </div>
                <div class="form-group" ng-show="FormCtrl.action == 'pickup'">
                  <label for="location">Location</label>
                  <textarea class="form-control" id="location" ng-model="FormCtrl.location"></textarea>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>

              <!-- bound display --><br>
              <div ng-show="FormCtrl.guestName || FormCtrl.transitionDate || FormCtrl.action || FormCtrl.location" class="col-md-offset-2 col-md-6 well">
                <h4>Applicant Confirmation</h4>
                <div ng-show="FormCtrl.guestName != null" class="form-group">
                  <label>Name: </label>
                  {{ FormCtrl.guestName }}
                </div>
                <div ng-show="FormCtrl.transitionDate != null"  class="form-group">
                  <label>Transition Date: </label>
                  {{ FormCtrl.transitionDate }}
                </div>
                <div ng-show="FormCtrl.action != null"  class="form-group">
                  <label>Status: </label>
                  {{ FormCtrl.action }}
                </div>
                <div ng-show="FormCtrl.location != null"  class="form-group">
                  <label>Location: </label>
                  {{ FormCtrl.location }}
                </div>
              </div>

            </div>
          </div>

          <!-- Tab pane 2 -->
          <div role="tabpanel" class="tab-pane" id="guests" ng-class="{ active : TabCtrl.tab == 2 }" ng-show="TabCtrl.tab == 2">
            <div class="col-md-6">
              <h3>Guest List</h3>
              <ul class="list-unstyled">
                <li ng-repeat="guest in vm.guests">
                  {{ guest.name }}
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

  </body>
</html>
